[user]
	; email = tnthi115@berkeley.edu
	email = t.thi@f5.com
	name = Tymon Thi

[credential]
	helper = store

[safe]
	directory = /media/sf_Downloads/tymon-obsidian
	directory = /home/user/Classes/cs164/mnt/cs164-aak/hw0-tnthi
	directory = /home/user/Classes/cs164/mnt/cs164-aak/hw0-tnthi115
	directory = /home/user/Classes/cs164/cs164-aak/discussion/sec1-tnthi115
	directory = /media/sf_Downloads/wallpapers

[alias]
  lg = lg1
  lg1 = lg1-specific --all
  lg2 = lg2-specific --all
  lg3 = lg3-specific --all

  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

  graph = log --all --graph --decorate --oneline

  statdiff = diff --stat

  bdiff = log --oneline --no-merges --cherry-pick --left-right

[init]
	defaultBranch = main

# Delta
# see config from https://www.reddit.com/r/neovim/comments/18yi3u5/comment/kggcgsv/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button
[core]
	; editor = lvim
  editor = nvim
  pager = delta

[pager]
  blame = delta
  diff = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  features = decorations
  true-color = always
  syntax-theme = Kanagawa

[delta "interactive"]
  keep-plus-minus-markers = true

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = green
  hunk-header-style = file line-number syntax

[merge]
  conflictstyle = diff3

[diff]
  submodule = log
  colorMoved = default

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[rerere]
  enabled = true
