#

# See full config options:
# https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

gui:
  enlargedSideViewLocation: top
  nerdFontsVersion: "3"
  showFileIcons: true
git:
  paging:
    colorArg: always
    # useConfig: true
    pager: delta --dark --paging=never
  commit:
    autoWrapCommitMessage: false
customCommands:
  - key: "Z"
    command: "git cz c"
    description: "Commit with commitizen."
    context: "files"
    loadingText: "Opening commitizen commit tool"
    output: terminal
  - key: "m"
    command: "glab mr create --assignee t.thi --draft --fill --fill-commit-body --remove-source-branch --squash-before-merge --web"
    description: "Create gitlab MR with glab cli."
    context: "localBranches"
    loadingText: "Creating MR"
    prompts:
      - type: "confirm"
        title: "Create MR"
        body: "Are you sure you want to create the MR?"
    output: terminal
os:
  openLink: open "$(echo "{{link}}" | sed 's/%2F/\//g')"
